<app-navbar navbarTitle="Posts Page"></app-navbar>

<section class="posts">
  <h1 class="posts__title">HTTP Observables</h1>

  <!-- NOTE: trackBy -> uniquely identifies each DOM element and enables Angular to re-render only the modified element -->
  <div class="posts__grid">
    <div
      *ngFor="let post of posts$ | async; let i = index; let even = even; let odd = odd; let first = first; let last = last; trackBy: postById"
      (click)="onSelectPost(post)"
      [class.selected]="post === selectedPost"
      [ngClass]="{even, odd, first, last}"
      class="posts__grid__item"
    >
      <app-post-item [post]="post"></app-post-item>
    </div>
  </div>
</section>
