<app-navbar navbarTitle="Posts Page"></app-navbar>

<section class="posts">
  <h1 class="posts__title">HTTP Observables</h1>

  <!-- NOTE: trackBy -> uniquely identifies each DOM element and enables Angular to re-render only the modified element -->
  <div class="posts__grid">
    <div
      *ngFor="let post of posts; trackBy: postById"
      (click)="onSelectPost(post)"
      [class.selected]="post === selectedPost"
      class="posts__grid__item"
    >
      <p>{{ post.title }}</p>
      <button (click)="goToDetailPost(post.id)">Detail</button>
    </div>
  </div>
</section>
