<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button class="button-icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar__title">{{ navbarTitle }}</span>

  <span class="spacer"></span>

  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >

  <a
    routerLink="/posts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Posts</a
  >

  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
</mat-toolbar>

<!-- <nav class="app-navbar">
  <span class="app-navbar__title">{{ navbarTitle }}</span>

  <ul class="app-navbar__list">
    <li class="app-navbar__list__item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="app-navbar__list__item">
      <a
        routerLink="/posts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Posts</a
      >
    </li>
    <li class="app-navbar__list__item">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li class="app-navbar__list__item">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav> -->
