a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}

button:hover,
a:hover,
a:active {
  color: lightgray;
  cursor: pointer;
}

.navbar {
  margin-bottom: 1rem;
}

.navbar__title {
  margin-left: 1rem;
}

.button-icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: lightskyblue;
}

.active {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
  outline: 0;
}
